<section id="viewSingleAdd">
    <div><img id="image" src="" ></div>
        <div>Title:</div>
        <h1 id="adTitle"></h1>
        <div>Description:</div>
        <p id="adDescr"></p>
        <div>Publisher:</div>
        <p id="adPublisher"></p>
        <div>Date:</div>
        <p id="adDate"></p>
        <div>Views:</div>
        <p id="adViews"></p>
</section>
